body{
    width: 1840px;
    overflow-x: scroll;
}

.formContainer{
    direction: rtl;
    
}

.setAsRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;
}

.orderTable{
    display: grid;
    grid-template-columns:repeat(23, 80px);
    direction: rtl;
    border: solid 1px black;

}
.tableHeader{
    background-color: rgb(75, 165, 42);
    overflow-x: visible;
}
.border{
    border: solid 1px black;
}

.destinationTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr ;
    
}
.headTable{
    border: 1px solid black;
}

.title{
    font-weight: bold;
}