.formContainer{
    direction: rtl;
    
}

.setAsRow{
    display: flex;
    flex-direction: row;
    justify-content: center;
    direction: rtl;
}

.destinationTable{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    
}
.headTable{
    border: 1px solid black;
}

.title{
    font-weight: bold;
}